</div>

<script>
    $(document).ready(function(){
    var $container = $('#container');

      $container.masonry({
        itemSelector        : '.articlediv',
        columnWidth         : '.articlediv',
        transitionDuration  : 0
      });

    });
</script>

</body>
</html>