<% include partials/header %>

THIS IS A PROJECT BY <a href="https://www.twitter.com/msyinmei">@MSYINMEI</a>. <br>
DEVELOPED IN LESS THAN 4 DAYS. <br>
DEMO DAY: Friday, October 31st 2014
<br>

<h1>CONCEPT</h1>
The Media Monitor was designed to allow users to search the news with keywords they can keep. <br> Once logged in, the user can edit his/her keywords and view a stylized coverage report.
<br><br>
<h2>FUTURE DEVELOPMENT</h2>
Currently, I need to still enable keywords to be deletable (admittedly one of the newer concepts I've been grappling with that I learned last week). Should be accomplished in the next 24 hours. I would like to also explore eventually allowing users to email themselves their report on a regular basis. Additionally, users should be able to edit their profile, password and retreive their lost passwords via email. Ideally, users should also be able to remove themselves from the system via a delete button.<br><br>
Further more, this serves as a practice for understanding the reader's experience. Eventually I would be using this framework for a similar open-sourced, crowd-funded media publishing platform. Please contact me if you're interested in collaboration.

<br><br>
XOXO
<br><br>
<a href="https://www.twitter.com/msyinmei">@MSYINMEI</a>

<hr>

<h3>TECHNICAL</h3>
The Media Monitor was an experimental project to practice working with more than one API and a many-to-many database with more than one model.
<br>
FRONT END: html, css, jquery, bootstrap and masonry.js, javascript node.js, express, ejs, method-override
<br>
BACK END: sequelize, postgres, async, passport
<br>
AUTHORIZATION: bcrypt, cookie-parser, cookie-session
APIS: <a href="http://www.theguardian.com/open-platform/content-api-content-search-reference-guide">The Guardian</a> , <a href="http://developer.nytimes.com/docs/read/article_search_api_v2">The New York Times Article Search API</a>

<% include partials/footer %>