<% include partials/header %>
<link rel="stylesheet" href="stylesheets/main.css">

  <p>
    Welcome to MediaMon! Enjoy your media monitoring experience.
  </p>

  <p>
  <form action="">
    <input type="search" value="Start Search">
    <input type="submit" value="Go!">
  </form>

  </p>

<% include partials/footer %>