<% include partials/header %>

<br>
<br>
  <p>
  <form action="/search" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control searchbox" placeholder="SEARCH THE MONITOR" autofocus>
    </div>
  </form>
  </p>

<% include partials/footer %>