<% include partials/header %>

 <h1> Welcome to MediaMon! </h1>
 <h2> Enjoy your media monitoring experience.</h2>

  <p>
  <form action="/search" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control" placeholder="Search">
    </div>
  </form>
  </p>

<% include partials/footer %>