<% include partials/header %>




<br>
<br>
  <p>
  <form action="/search" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control searchbox" placeholder="ENTER KEYWORD & SEARCH" autofocus>
    </div>
  </form>
  </p>

  <% if (isAuthenticated) { %>
  <div class="instructions">
  (Function in progress: Search a term. Then press the "+" to add keyword to
    <button><a href="/my/keywords">MY KEYWORDS PAGE</a></button>.)
  <div>
<% } %>


<% include partials/footer %>