<% include partials/header %>

<br>
<br>
  <p>
  <form action="/search" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control searchbox" placeholder="SEARCH THE MONITOR" autofocus>
    </div>
  </form>
  </p>

  <% if (isAuthenticated) { %>
  <div>
    <% if (keywordList.length > 0) { %>
      <p>
        <% keywordList.forEach(function (keyword) { %>
          <a href="/search?keyword=<%= keyword.name %>" class="keywordbtn"><%= keyword.name %></a>
        <% }) %>
      <p>
    <% } %>
  </div>
<% } %>

<% include partials/footer %>