<% include partials/header %>




<br>
<br>
  <p>
  <form action="/search" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control searchbox" placeholder="SEARCH KEYWORD" autofocus>
    </div>
  </form>
  </p>

  <% if (isAuthenticated) { %>
  <div class="instructions">
  Make a search, then press the "+" to add keyword to
    <button><a href="/my/keywords">MY KEYWORDS PAGE</a></button>. If you add, please note that no delete option is available yet.
  <div>
<% } %>


<% include partials/footer %>