<% include ../partials/header %>
<br>
<h1 class="masthead">My Keywords</h1>
<br>
<div class="instructions">
Manage your keywords here. Type to add. Click to remove.
</div>

  <p>
  <form action="/create/keyword" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control" placeholder="ADD NEW KEYWORD" autofocus>
    </div>
  </form>
</p>

  <div class="keyworddiv">
    <% if (keywordList.length > 0) { %>
        <% keywordList.forEach(function (keyword) { %>
          <form action="/delete/keyword/<%= keyword.id %>?_method=delete" method="post">
            <input type="submit" value="Remove keyword: <%= keyword.name %>">
          </form>
      <% }) %>
    <% } %>
  </div>

<% include ../partials/footer %>