<% include ../partials/header %>

<h1 class="masthead">My Profile</h1>

Username: <%= user.username %>
<br>
Email: <%= user.email %>
<br>
Twitter: <%= user.twitter %>

<% include ../partials/footer %>