<% include ../partials/header %>
<br>
<h1 class="masthead">My Profile</h1>
<br>
<div>
Username: <%= user.username %>
<br>
Email: <%= user.email %>
<br>
Twitter: <%= user.twitter %>
</div>
<br>
FUTURE CAPABILITY: EDIT PROFILE
<br>
FUTURE CAPABILITY: DELETE PROFILE

<% include ../partials/footer %>