.main {
background-image: url('../images/paperbackground.jpg');
background-position: top;
max-width: 1400px;
min-height: 100vh;
height: 100%;
font-family: 'Libre Baskerville', serif;
}

h1.masthead{
  text-align: center;
  margin: auto;
}

article{
  color: #000000;
  border: 2px solid;
}

a {
  color: #000000;
  text-decoration: underline;
}

.navbar-custom {
    background:rgba(200,54,54,0.5);
    color:#000000;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:rgba(200,54,54,0.5);
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}