.main {
background-image: url('../images/paperbackground.jpg');
background-position: top;
max-width: 1400px;
min-height: 100vh;
height: 100%;
font-family: 'Libre Baskerville', serif;
}

h1.masthead{
  text-align: center;
  margin: auto;
}

.article {
  border: 2px dotted #000000;
}

input.searchbox, .form-control:focus, .form-control {
background: 0;
-webkit-box-shadow: none;
box-shadow: none;
border: 0;
height: 60px;
min-width: 100px;
max-width: 500px;
border-bottom: 3px solid #000000;
outline: none;
color: #000000;
text-align:center;
line-height: 1.2em;
margin: auto;
transition: none;
font-size: 25px;
}

#container {
  margin: 0 auto;
  position: relative;
}

a {
  color: #000000;
}

.navbar-custom {
    background:rgba(200,54,54,0.5);
    color:#000000;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#000000;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000000;
    background-color:rgba(0,0,0,0.5);
}
.navbar-custom .navbar-brand {
    color:#000000;
}